<h1>
  {{title}}
</h1>


<button type="button" class="btn btn-default" (click)="getWines()">Vino!</button>

<form #form="ngForm" novalidate (ngSubmit)="add(form.value, form.valid)">
<div>
  <label>Hero name:</label> 
  <input [(ngModel)]="wine.name" #name="ngModel" name="name" />
  <select name="country" [(ngModel)]="wine.country" #country="ngModel">
    <option *ngFor="let country of countries" [ngValue]="country">{{country.name}}</option>
  </select>

  <button type="submit">
    Add
  </button>
</div>
</form>



<ul>
  <li *ngFor="let wine of wines">
    {{wine.name}} - {{wine.country.name}}
</ul>

{{wines | json }}